<div ng-controller="AliasesCtrl" ng-show="hasConnection()">
	<h2>aliases management</h2>
	<div class="aliases-section">
		<table class="table table-striped table-bordered">
			<tr ng-repeat="(alias, indices) in aliases.info">
				<td class="aliases-alias-cell">
					<div>
						<i class="icon-remove-circle aliases-remove-alias-action" ng-click="removeAlias(alias)"></i>
						<span class="aliases-new-alias-input">
							<i class="icon-tag"></i> {{alias}}
						</span>
					</div>
				</td>
				<td>
					<span ng-repeat="index in indices" class="aliases-index-alias">
						{{index}} <i class="icon-remove-circle" ng-click="removeAliasFromIndex(index,alias)"></i>
					</span>
					<span class="aliases-new-index">
						<select class="aliases-add-index-input" ng-model="new_index[alias]" ng-options="index for index in aliases.indices">
						</select>
						<i class="icon-plus-sign aliases-add-index-action" ng-click="addIndexToAlias(alias);"></i>
					</div>
				</td>
			</tr>
			<tr>
				<td class="aliases-alias-cell">
					<i class="icon-plus-sign aliases-remove-new-alias-action" ng-click="addAlias();"></i>
					<span class="aliases-new-alias-input">
						<input type="text" class="form-control input-sm" placeholder="create new alias" ng-model="new_alias">
					</span>
				</td>
				<td></td>
			</tr>
		</table>
		<button type="submit" class="btn btn-primary rest-client-execute input-sm" ng-click="mergeAliases()"><i class="icon-ok"></i> save</button>
	</div>
</div>