<div ng-controller="AliasesCtrl" ng-show="hasConnection()">
	<h2>aliases management</h2>
	<div class="aliases-section">
		<div class="row">
			<div class="col-lg-10">
				<form class="form-inline" role="form">
					<div class="row">
						<div class="col-lg-6 form-group">
							<input type="text" ng-model="pagination.alias_query" class="form-control input-sm" placeholder="filter by alias name">
						</div>
						<div class="col-lg-6 form-group">
							<input type="text" ng-model="pagination.index_query" class="form-control input-sm" placeholder="filter by index name">
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-2" style="text-align: right;">
				<div class="cluster-map-pagination">
					<span ng-switch on="pagination.hasPreviousPage()">
						<i class="icon-double-angle-left normal-action" ng-click="pagination.previousPage()" ng-switch-when="true"></i>
						<i class="icon-double-angle-left inactive-action" ng-switch-when="false"></i>
					</span>
					{{pagination.firstResult()}}-{{pagination.lastResult()}} of {{pagination.total()}}
					<span ng-switch on="pagination.hasNextPage()">
						<i class="icon-double-angle-right normal-action" ng-click="pagination.nextPage()" ng-switch-when="true"></i>
						<i class="icon-double-angle-right inactive-action" ng-switch-when="false"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="aliases-section">
			<table class="table table-striped table-bordered">
					<tr>
						<td class="aliases-alias-cell"><i class="icon-tag"></i> alias name</th>
						<td><i class="icon-pushpin"></i> target indices</th>
					</tr>
					<tr ng-repeat="(alias_name, aliases) in pagination.getPage()">
						<td>
							<i class="icon-remove-circle aliases-remove-alias-action normal-action" ng-click="removeAlias(alias_name)" title="remove alias for all indices"></i>
							<span class="aliases-new-alias-input">
								<span class="aliases-alias">{{alias_name}}</span>
							</span>
						</td>
						<td>
							<div class="col-lg-9">
								<div ng-repeat="alias in aliases" class="aliases-index-alias">
									<span><b>index: </b>{{alias.index}}</span>,
									<span><b>filter: </b>{{alias.filter}}</span>,
									<span><b>index_routing: </b>{{alias.index_routing}}</span>,
									<span><b>search_routing: </b>{{alias.search_routing}}</span>
									<span ng-click="removeAliasFromIndex(alias.index,alias.alias)" class="normal-action alias-remove-index">
										<i class="icon-remove-circle"  title="dissociate alias from index"></i>
									</span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="row">
								<div class="col-lg-2">
									<input type="text" class="form-control input-sm" placeholder="alias" ng-model="new_alias.alias">
								</div>
								<div class="col-lg-3">
									<input type="text" class="form-control input-sm" placeholder="filter" ng-model="new_alias.filter">
								</div>
								<div class="col-lg-2">
									<input type="text" class="form-control input-sm" placeholder="index_routing value" ng-model="new_alias.index_routing">
								</div>
								<div class="col-lg-2">
									<input type="text" class="form-control input-sm" placeholder="search_routing value" ng-model="new_alias.search_routing">
								</div>
								<div class="col-lg-2">
									<select class="form-control input-sm" ng-model="new_alias.index" ng-options="i for i in aliases.indices">
										<option value="">select index</option>
									</select>
								</div>
								<div class="col-lg-1">
									<button type="submit" class="btn btn-primary btn-sm" ng-click="addAlias()"><i class="icon-plus-sign"></i> add</button>
								</div>
							</div>
						</td>
					</tr>
			</table>
			
			<div class="aliases-save-changes">
				<button type="submit" class="btn btn-primary" ng-click="mergeAliases()">
					<i class="icon-ok"></i> save changes
				</button>
			</div>
		</div>
	</div>
</div>