<div ng-include src="'partials/cluster_overview/cluster_stats.html'" style="margin-bottom: 20px"></div>
<div class="row">
  <div class="col-lg-10" ng-include src="'partials/cluster_overview/filters.html'"></div>
  <div class="col-lg-2">
    <ng-pagination page="page" paginator="index_paginator"></ng-pagination>
  </div>
</div>
<table class="table table-bordered table-condensed table-rounded overview">
  <thead>
    <tr>
      <!-- cluster actions -->
      <th class="box cluster-map-header-cluster-actions">
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <a href="#!createIndex" class="cluster-map-header-cluster-action">
              <i class="fa fa-plus-square-o" title="create new index"></i>
            </a>
          </div>
          <div class="col-lg-3 col-xs-6">
            <a class="cluster-map-header-cluster-action">
              <i class="fa fa-lock" ng-show="cluster.disableAllocation === 'true'" ng-click="enableAllocation()" title="enabled shard allocation"></i>
              <i class="fa fa-unlock-alt" ng-show="cluster.disableAllocation !== 'true'" ng-click="disableAllocation()" title="disable shard allocation"></i>
            </a>
          </div>
          <div class="col-lg-3 col-xs-6">
            <a href="#!clusterSettings" class="cluster-map-header-cluster-action">
              <i class="fa fa-cog" title="cluster settings"></i>
            </a>
          </div>
          <div class="col-lg-3 col-xs-6">
            <a href="#!clusterHealth" class="cluster-map-header-cluster-action">
              <i class="fa fa-stethoscope" title="cluster health information"></i>
            </a>
          </div>
        </div>
      </th>
      <!-- indices -->
      <th ng-repeat="index in page.elements track by $index" class="index-cell box" ng-include="'partials/cluster_overview/index_header.html'">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-show="cluster_health.unassigned_shards > 0 || cluster_health.unassigned_shards > 0 || cluster_health.initializing_shards > 0">
      <td class="box unassigned-row">
        <div ng-show="cluster_health.unassigned_shards > 0">
          <i class="fa fa-fw fa-warning danger-action"> </i>
          <span>{{cluster_health.unassigned_shards | number:0}} unassigned shards</span>
        </div>
        <div ng-show="cluster_health.relocating_shards > 0">
          <i class="fa fa-fw fa-refresh fa-spin"> </i>
          <span>{{cluster_health.relocating_shards | number:0}} relocating shards</span>
        </div>
        <div ng-show="cluster_health.initializing_shards > 0">
          <i class="fa fa-fw fa-spinner fa-spin"> </i>
          <span>{{cluster_health.initializing_shards | number:0}} initializing shards</span>
        </div>
      </td>
      <td class="shards-cell shards box" ng-repeat="index in page.elements track by $index" ng-include="'partials/cluster_overview/index_unassigned.html'">
      </td>
    </tr>
    <tr ng-repeat="node in nodes track by $index">
      <td class="box" ng-static-include file="cluster_overview/node_cell"></td>
      <td ng-repeat="index in page.elements track by $index" ng-class="{'box': index.closed()}" class="shards-cell" ng-include="'partials/cluster_overview/index_body.html'">
      </td>
    </tr>
  </tbody>
</table>
