<div ng-controller="ClusterOverviewController" ng-show="hasConnection() && cluster != null">
	<h2>cluster administration</h2>
	<div ng-include src="'partials/cluster_stats.html'"></div>
	<div class="row">
		<div class="col-lg-10">
			<form class="form-inline" role="form">
				<div class="row">
					<div class="col-lg-3 form-group">
						<input type="text" ng-model="pagination.query" class="form-control input-sm" placeholder="filter indices by name">
					</div>
					<div class="col-lg-2 form-group">
						<select ng-model="pagination.state" class="form-control input-sm">
							<option selected="selected" value="">open / closed</option>
							<option value="open">open</option>
							<option value="close">closed</option>
						</select>
					</div>
					<div class="col-lg-3 form-group">
						<input type="text" ng-model="pagination.node_name" class="form-control input-sm" placeholder="filter nodes by name">
					</div>
					<div class="col-lg-4 cluster-map-node-types">
							<div class="checkbox cluster-map-node-type">
					    	  <label>
					    	    <input type="checkbox" ng-model="pagination.master"> <i class="icon-star-empty"></i> master
					    	  </label>
					    	</div>
							<div class="checkbox cluster-map-node-type">
								<label>
									<input type="checkbox" ng-model="pagination.data"> <i class="icon-hdd"></i> data
								</label>
							</div>
							<div class="checkbox cluster-map-node-type">
					    	  <label>
					    	    <input type="checkbox" ng-model="pagination.client"> <i class="icon-search"></i> client
					    	  </label>
					    	</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-2 form-group" style="text-align: right;">
			<div class="cluster-map-pagination">
				<span ng-switch on="pagination.hasPreviousPage()">
					<i class="icon-double-angle-left" ng-click="pagination.previousPage()" ng-switch-when="true"></i>
					<i class="icon-double-angle-left inactive-action" ng-switch-when="false"></i>
				</span>
				{{pagination.firstResult()}}-{{pagination.lastResult()}} of {{pagination.total()}}
				<span ng-switch on="pagination.hasNextPage()">
					<i class="icon-double-angle-right" ng-click="pagination.nextPage()" ng-switch-when="true"></i>
					<i class="icon-double-angle-right inactive-action" ng-switch-when="false"></i>
				</span>
			</div>
		</div>
	</div>
	<br>
	<table class="table table-bordered table-condensed table-nonfluid table-rounded">
		<thead ng-include src="'partials/shard_map_header.html'"></thead>
		<tbody ng-include src="'partials/shard_map_body.html'"></tbody>
	</table>
</div>
