<div class="cluster-map-stats-section">
	<span class="cluster-map-stat-block" data-toggle="tooltip" data-placement="top" title="" data-original-title="total number of nodes in the cluster">
	 	<span class="cluster-map-stat-number">{{cluster.number_of_nodes}}</span>
		<span class="cluster-map-stat-description"><small>nodes</small></span>
	</span>
	<span class="cluster-map-stat-block" data-toggle="tooltip" data-placement="top" title="" data-original-title="total number of indices on the cluster, either open or closed">
	 	<span class="cluster-map-stat-number">{{cluster.total_indices}}</span>
		<span class="cluster-map-stat-description"><small>indices</small></span>
	</span>
	<span class="cluster-map-stat-block" data-toggle="tooltip" data-placement="top" title="" data-original-title="total number of shards, replicas are not taken into account">
		<span class="cluster-map-stat-number"><small>{{cluster.shards}}</small></span>
		<span class="cluster-map-stat-description"><small>shards</small></span>
	</span>
	<span class="cluster-map-stat-block" data-toggle="tooltip" data-placement="top" title="" data-original-title="number of failed shards">
	 	<span class="cluster-map-stat-number">{{cluster.failed_shards}}</span>
		<span class="cluster-map-stat-description"><small>failed shards</small></span>
	</span>
	<span class="cluster-map-stat-block" data-toggle="tooltip" data-placement="top" title="" data-original-title="number of unassigned shards">
	 	<span class="cluster-map-stat-number">{{cluster.unassigned_shards}}</span>
		<span class="cluster-map-stat-description"><small>unassigned shards</small></span>
	</span>
	<span class="cluster-map-stat-block tooltip-enabled" data-toggle="tooltip" data-placement="top" title="" data-original-title="total number of unique documents. replicas are not taken into account">
	 	<span class="cluster-map-stat-number">{{cluster.num_docs}}</span>
		<span class="cluster-map-stat-description"><small>docs</small></span>
	</span>
	<span class="cluster-map-stat-block" data-toggle="tooltip" data-placement="top" title="" data-original-title="total size of the cluster. replicas are taken into account">
	 	<span class="cluster-map-stat-number">{{readablizeBytes(cluster.total_size)}}</span>
		<span class="cluster-map-stat-description"><small>total size</small></span>
	</span>
</div>
<script>  
	$(function () { $(".cluster-map-stat-block").tooltip();});  
</script>