<div ng-controller="DiagnosisCtrl" ng-show="hasConnection()">
	<h2>cluster diagnosis</h2>
	<div>
		<h4>share cluster info</h4>
		<button type="submit" class="btn btn-primary input-sm" ng-click="diagnosisCluster()">
			<i class="icon-share"></i> diagnosis
		</button>
		<table class="table table-striped table-bordered">
			<tr>
				<td>
					<div class="row">
						<div class="col-lg-12">
							<span class="diagnosis-gist-description">Create a Gist with cluster information(cluster state + node stats + hot threads)</span>
							<span class="diagnosis-gist-share">
								<button type="submit" class="btn btn-primary input-sm" ng-click="shareClusterInfo()">
									<i class="icon-share"></i> share
								</button>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<span class="diagnosis-gist-link"><a href="{{shared_url}}" target="_blank">{{shared_url}}</a></span>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>