<div ng-controller="NewIndexSettingsController">
	<h2>settings for {{service.index.name}}</h2>
	<div class="index-settings-panel">
		<div class="row">
			<div class="col-lg-2">
				<ul class="nav nav-pills nav-stacked" id="idx_settings_tabs">
				  <li><a href="#idx_settings_index" data-toggle="tab">index</a></li>
				  <li><a href="#idx_settings_index_blocks" data-toggle="tab">blocks</a></li>
				  <li><a href="#idx_settings_index_translog" data-toggle="tab">translog</a></li>
				  <li><a href="#idx_settings_index_routing" data-toggle="tab">routing</a></li>
				  <li><a href="#idx_settings_index_cache" data-toggle="tab">cache</a></li>
				</ul>
			</div>
			<div class="col-lg-10">
				<div class="tab-content">
				  <div class="tab-pane active" id="idx_settings_index">
					<div class="row">
						<div class="col-lg-4">
							<div class="form-group">
								number_of_replicas
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="number of replicas each shard has. value must be a number equal or greather than 0" data-original-title="index.number_of_replicas" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.number_of_replicas']" placeholder="">
							</div>
							<div class="form-group">
								index_concurrency
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="limit on the number of concurrent threads that are allowed to perform indexing at the same time. defaults to 8" data-original-title="" title="index.index_concurrency">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.index_concurrency']" placeholder="">
							</div>
							<div class="form-group">
								warmer.enabled
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="enables/disables warmpup" data-original-title="index.warmer.enabled" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.warmer.enabled']" placeholder="">
							</div>
							<div class="form-group">
								refresh_interval
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="the async refresh interval of a shard" data-original-title="index.refresh_interval" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.refresh_interval']" placeholder="">
							</div>
							<div class="form-group">
								term_index_divisor
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="the lucene reader term index divisor" data-original-title="index.term_index_divisor" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.term_index_divisor']" placeholder="">
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								total_shards_per_node
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="maximum number of shards for this index that each node can have" data-original-title="index.routing.allocation.total_shards_per_node" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.routing.allocation.total_shards_per_node']" placeholder="">
							</div>
							<div class="form-group">
								ttl.disable_purge
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="disables temporarily the purge of expired docs" data-original-title="index.ttl.disable_purge" title="">
									<i class="icon-info-sign"></i>
								</a>
								<select ng-model="service.index.settings['index.ttl.disable_purge']" class="form-control input-sm">
									<option value="true">true</option>
									<option value="false">false</option>
								</select>
							</div>
							<div class="form-group">
								fail_on_merge_failure
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.fail_on_merge_failure']" placeholder="">
							</div>
							<div class="form-group">
								gc_deletes
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="time for which elasticsearch keeps information about deleted documents. value should be a time interval(defaults to 1m)" data-original-title="index.gc_deletes" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.gc_deletes']" placeholder="">
							</div>
							<div class="form-group">
								codec
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="codec. defaults to default" data-original-title="index.codec" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.codec']" placeholder="">
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								term_index_interval
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="the lucene index term interval. only applies to newly created docs" data-original-title="index.term_index_interval" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.term_index_interval']" placeholder="">
							</div>
							<div class="form-group">
								auto_expand_replicas
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="set to an actual value (like 0-all) or false to disable it" data-original-title="index.auto_expand_replicas" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.auto_expand_replicas']" placeholder="">
							</div>
							<div class="form-group">
								recovery.initial_shards
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="when using local gateway a particular shard is recovered only if there can be allocated quorum shards in the cluster. it can be set to quorum (default), quorum-1 (or half), full and full-1. number values are also supported, e.g. 1" data-original-title="index.recovery.initial_shards" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.recovery.initial_shards']" placeholder="">
							</div>
							<div class="form-group">
								compound_format
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.compound_format']" placeholder="">
							</div>
						</div>
					</div>
				  </div>
				  <div class="tab-pane" id="idx_settings_index_blocks">
					<div class="row">
						<div class="col-lg-4">
							<div class="form-group">
								blocks.read_only
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="set to true to have the index read only. false to allow writes and metadata changes" data-original-title="index.blocks.read_only" title="">
									<i class="icon-info-sign"></i>
								</a>
								<select ng-model="index.settings['index.blocks.read_only']" disabled="true" class="form-control input-sm">
									<option value="true">true</option>
									<option value="false">false</option>
								</select>
							</div>
							<div class="form-group">
								blocks.read
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="set to true to disable read operations against the index" data-original-title="index.blocks.read" title="">
									<i class="icon-info-sign"></i>
								</a>
								<select ng-model="index.settings['index.blocks.read']" class="form-control input-sm">
									<option value="true">true</option>
									<option value="false">false</option>
								</select>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								blocks.write
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="set to true to disable write operations against the index" data-original-title="index.blocks.write" title="">
									<i class="icon-info-sign"></i>
								</a>
								<select ng-model="index.settings['index.blocks.write']" class="form-control input-sm">
									<option value="true">true</option>
									<option value="false">false</option>
								</select>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								blocks.metadata
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="set to true to disable metadata operations against the index" data-original-title="index.blocks.metadata" title="">
									<i class="icon-info-sign"></i>
								</a>
								<select ng-model="index.settings['index.blocks.metadata']" disabled="true" class="form-control input-sm">
									<option value="true">true</option>
									<option value="false">false</option>
								</select>
							</div>
						</div>
					</div>
				  </div>
				  <div class="tab-pane" id="idx_settings_index_translog">
					<div class="row">
						<div class="col-lg-4">
							<div class="form-group">
								translog.flush_threshold_ops
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="when to flush based on operations" data-original-title="index.translog.flush_threshold ops" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="index.settings['index.translog.flush_threshold_ops']" placeholder="">
							</div>
							<div class="form-group">
								translog.flush_threshold_size
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="when to flush based on translog (bytes) size" data-original-title="index.translog.flush_threshold_size" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="index.settings['index.translog.flush_threshold_size']" placeholder="">
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								translog.flush_threshold_period
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="when to flush based on a period of not flushing" data-original-title="index.translog.flush_threshold_period" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="index.settings['index.translog.flush_threshold_period']" placeholder="">
							</div>
							<div class="form-group">
								translog.disable_flush
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="disables flushing. Note, should be set for a short interval and then enabled." data-original-title="index.translog.disable_flush" title="">
									<i class="icon-info-sign"></i>
								</a>
								<select ng-model="index.settings['index.translog.disable_flush']" class="form-control input-sm">
									<option value="true">true</option>
									<option value="false">false</option>
								</select>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								translog.fs.type
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="either simple or buffered (default)" data-original-title="index.translog.fs.type" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="service.index.settings['index.translog.fs.type']" placeholder="">
							</div>
						</div>
					</div>
				  </div>
				  <div class="tab-pane" id="idx_settings_index_routing">
					<div class="row">
						<div class="col-lg-4">
							<div class="form-group">
								disable_allocation
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="disable shards allocation. defaults to false" data-original-title="index.disable_allocation" title="">
									<i class="icon-info-sign"></i>
								</a>
								<select ng-model="index.settings['index.routing.allocation.disable_allocation']" class="form-control input-sm">
									<option value="true">true</option>
									<option value="false">false</option>
								</select>
							</div>
							<div class="form-group">
								disable_new_allocation
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="disable new shards allocation. defaults to false" data-original-title="index.disable_new_allocation" title="">
									<i class="icon-info-sign"></i>
								</a>
								<select ng-model="index.settings['index.routing.allocation.disable_new_allocation']" class="form-control input-sm">
									<option value="true">true</option>
									<option value="false">false</option>
								</select>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								disable_replica_allocation
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="disable shard replica allocation. defaults to false" data-original-title="index.disable_replica_allocation" title="">
									<i class="icon-info-sign"></i>
								</a>
								<select ng-model="index.settings['index.routing.allocation.disable_replica_allocation']" class="form-control input-sm">
									<option value="true">true</option>
									<option value="false">false</option>
								</select>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								node_initial_primaries_recoveries
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="node_initial_primaries_recoveries" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="index.settings['cluster.routing.allocation.node_initial_primaries_recoveries']" placeholder="">
							</div>
						</div>
					</div>
				  </div>
				  <div class="tab-pane" id="idx_settings_index_cache">
					<div class="row">
						<div class="col-lg-4">
							<div class="form-group">
								filter.max_size
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="the maximum size of filter cache (per segment in shard). Set to -1 to disable" data-original-title="index.filter.max_size" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="index.settings['index.cache.filter.max_size']" placeholder="">
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								filter.expire
								<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="the expire after access time for filter cache. Set to -1 to disable" data-original-title="index.filter.expire" title="">
									<i class="icon-info-sign"></i>
								</a>
								<input type="text" class="form-control input-sm" ng-model="index.settings['index.cache.filter.expire']" placeholder="">
							</div>
						</div>
						<div class="col-lg-4">
						</div>
					</div>
				  </div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<span class="pull-right">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click='back()'>back</button>
					<button type="button" class="btn btn-primary" ng-click='save()'><i class="icon-ok"></i> save</button>
				</span>
			</div>
		</div>
	</div>
</div>