<div ng-show="alert.level != null" class="alert-block">
	<div class="alert" ng-class="{'alert-success': alert.level == 'success', 'alert-info': alert.level == 'info', 'alert-danger': alert.level == 'error'}">
		<button type="button" class="close" ng-click='alert.clear()'>&times;</button>
		<b>
			<i ng-class="{'icon-ok': alert.level == 'success', 'icon-spinner icon-spin': alert.level == 'info', 'icon-warning-sign': alert.level == 'error'}" class="big-icon"></i>
			</b> {{alert.message}}
		<div ng-show="alert.hasServerResponse()" >
			<pre ng-class="{'alert-success': alert.level == 'success', 'alert-info': alert.level == 'info', 'alert-danger': alert.level == 'error'}" class="alert response-pre">{{alert.getResponse()}}</pre>
		</div>
	</div>
</div>