<div ng-switch on="modal.alert.level" class="alert-block">
	<div ng-switch-when="success" class="alert alert-success">
		 <button type="button" class="close" ng-click='modal.alert.clear()'>&times;</button>
		<b>{{modal.alert.message}}.</b>
		<div ng-if="hasServerResponse">
			{{modal.alert.response}}
		</div>
	</div>
	<div ng-switch-when="error" class="alert alert-danger">
		 <button type="button" class="close" ng-click='modal.alert.clear()'>&times;</button>
		<b>{{modal.alert.message}}.</b>
		<div ng-if="hasServerResponse()">
			{{modal.alert.response}}
		</div>
	</div>
</div>