<div class="navbar navbar-fixed-top navbar-cluster-status-{{cluster_health.status}}" ng-controller="NavbarController">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span></button>
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="navbar-brand navbar-cluster-status-{{cluster_health.status}} dropdown-toggle navbar-logo" data-toggle="dropdown">kopf <i class="icon-caret-down navbar-logo-action"></i></a>
				<ul class="dropdown-menu form-horizontal navbar-app-settings">
					<form class="form-inline" role="form">
						<li class="active refresh-selector">
							<div class="row">
								<div class="col-lg-6">
									refresh rate: 
								</div>
								<div class="col-lg-6">
									<select ng-model="new_refresh" class="form-control navbar-app-settings-select" ng-change="changeRefresh()">
										<option value="1000">1sec</option>
										<option value="3000">3secs</option>
										<option value="5000">5secs</option>
										<option value="10000">10secs</option>
										<option value="60000">1min</option>
									</select>
								</div>
							</div>
						</li>
					</form>
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-cluster-status-{{cluster_health.status}}">
			<li class="active" id="cluster_option" ng-click="changeTab()">
				<a href="#cluster" data-toggle="tab"><i class="icon-sitemap"></i> {{cluster_health.name}}</a>
			</li>
			<li class="" id="rest_option" ng-click="changeTab()">
				<a href="#rest" data-toggle="tab" class=""><i class="icon-edit"></i> rest client</a>
			</li>
			<li class="" id="aliases_option" ng-click="emitLoadAliases()">
				<a href="#aliases" data-toggle="tab" class=""><i class="icon-tags"></i> aliases</a>
			</li>
		</ul>
		<ul class="nav navbar-nav pull-right">
			<li class="navbar-host-input">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="new_host" placeholder="connect to a different host">
					<span class="input-group-btn">
						<button class="btn host-input-action navbar-cluster-status-{{cluster_health.status}}-nav" type="button" ng-click="connectToHost()"><i class="icon-magic" title="connect"></i></button>
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>