<div ng-controller="NavbarController">
	<div class="navbar navbar-fixed-top navbar-cluster-status-{{cluster_health.status}}">
		<div class="container">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span></button>
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="navbar-brand navbar-cluster-status-{{cluster_health.status}} dropdown-toggle navbar-logo" data-toggle="dropdown">kopf <i class="icon-caret-down navbar-logo-action"></i></a>
					<ul class="dropdown-menu form-horizontal navbar-app-settings">
						<form class="form-inline" role="form">
							<li class="active navbar-menu-section">
								<div class="row">
									<div class="col-lg-6">
										<span class="navbar-menu-item">refresh rate:</span>
									</div>
									<div class="col-lg-6">
										<select ng-model="new_refresh" class="form-control navbar-app-settings-select" ng-change="changeRefresh()">
											<option value="1000">1sec</option>
											<option value="3000">3secs</option>
											<option value="5000">5secs</option>
											<option value="10000">10secs</option>
											<option value="60000">1min</option>
										</select>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li class="active navbar-menu-section">
								<div class="row">
									<div class="col-lg-12">
										<span class="navbar-menu-item">kopf v{{version}} - found a bug? <a href="https://github.com/lmenezes/elasticsearch-kopf/issues" target="_blank">report it!</a></span>
									</div>
								</div>
							</li>

						</form>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-cluster-status-{{cluster_health.status}}">
				<li class="active" id="cluster_option" ng-click="selectTab()">
					<a href="#cluster" data-toggle="tab"><i class="icon-sitemap"></i> cluster</a>
				</li>
				<li id="index_settings_option" style="display: none;">
					<a href="#index_settings" data-toggle="tab"></a>
				</li>
				<li id="cluster_settings_option" style="display: none;">
					<a href="#cluster_settings" data-toggle="tab"></a>
				</li>
				<li class="" id="rest_option" ng-click="selectTab()">
					<a href="#rest" data-toggle="tab" class=""><i class="icon-edit"></i> rest</a>
				</li>
				<li class="" id="aliases_option" ng-click="selectTab('loadAliasesEvent')">
					<a href="#aliases" data-toggle="tab" class=""><i class="icon-tags"></i> aliases</a>
				</li>
				<li class="" id="analysis_option" ng-click="selectTab('loadAnalysisEvent')">
					<a href="#analysis" data-toggle="tab" class=""><i class="icon-puzzle-piece"></i> analysis</a>
				</li>
				<li class="" id="percolator_option" ng-click="selectTab('loadPercolatorEvent')">
					<a href="#percolator" data-toggle="tab" class=""><i class="icon-bullseye"></i> percolator</a>
				</li>
				<li class="" id="warmup_option" ng-click="selectTab('loadWarmupEvent')">
					<a href="#warmup" data-toggle="tab" class=""><i class="icon-fire"></i> warmup</a>
				</li>
				<li class="" id="repository_option" ng-click="selectTab('loadRepositoryEvent')">
					<a href="#repository" data-toggle="tab" class=""><i class="icon-suitcase"></i> repository</a>
				</li>				
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li class="navbar-host-input">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="new_host" placeholder="connect to a different host">
						<span class="input-group-btn">
							<button class="btn host-input-action navbar-cluster-status-{{cluster_health.status}}-nav" type="button" ng-click="connectToHost()"><i class="icon-magic" title="connect"></i></button>
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="container app-container">
		<div class="row">
			<div class="col-lg-12">
				<div class="connection-status-console" ng-switch on="hasConnection()">
					<span ng-switch-when="false">[{{getCurrentTime()}}]: trying to connect to [{{host}}]</span>
					<span ng-switch-default="true">[{{getCurrentTime()}}]: connected to <b>{{cluster_health.name}}</b> @ <b>{{host}}</b></span>
				</div>
			</div>
		</div>
	</div>
</div>
