<div ng-controller="RepositoryController" ng-show="hasConnection()">
	<div class="content-panel">
		<div class="panel-group" id="#percolatorAccordion">
			<div class="panel panel-default" ng-include src="'partials/repositories/create_repository.html'"></div>
			<div class="panel panel-default" ng-include src="'partials/repositories/repositories_table.html'"></div>
			<div class="panel panel-default" ng-include src="'partials/repositories/create_snapshot.html'"></div>
			<div class="panel panel-default" ng-include src="'partials/repositories/restore_snapshot.html'"></div>
			<div class="panel panel-default" ng-include src="'partials/repositories/snapshots_table.html'"></div>
		</div>
	</div>
</div>