<tr ng-repeat="node in getNodes()">
	<td class="cluster-map-node-cell">
		<div class="row">
			<div class="col-lg-1" class="cluster-map-node-badges">
				<div ng-show="node.master">
					<div ng-show="node.current_master"><i class="icon-star" title="current master"></i></div>
					<div ng-show="!node.current_master"><i class="icon-star-empty" title="master eligible"></i></div>
				</div>
				<div><i ng-class="{true:'icon-search',false:''}[node.client]" title="client node"></i></div>
				<div><i ng-class="{true:'icon-hdd',false:''}[node.data]" title="data node"></i></div>
				<div><a data-toggle="modal" href="#confirm_dialog" data-backdrop="static" data-keyboard="false" class="cluster-map-node-action"><i class="icon-power-off normal-action" title="shutdown node" ng-click="shutdown_node(node.id,node.name)"></i></a></div>
			</div>
			<div class="col-lg-10">
				<div class="row">
					<div class="col-lg-12">
						<div class="cluster-map-node-name normal-action" ng-click="displayInfo(node.name + ' node stats',node.metadata)" title="view node stats">{{node.name}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="cluster-map-node-detail">{{node.transport_address}}</div>
						<div class="cluster-map-node-detail"><small>{{node.id}}</small></div>
					</div>
				</div>
				<div class="row">
						<div class="col-lg-12">
							<span class="cluster-map-node-stat" title="current load average">load: {{node.stats.os.load_average[0].toFixed(2)}}</span>
							<span class="cluster-map-node-stat" title="used heap / commited heap">heap: {{readablizeBytes(node.stats.jvm.mem.heap_used_in_bytes)}}/{{readablizeBytes(node.stats.jvm.mem.heap_committed_in_bytes)}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</td>
	<td ng-repeat="index in getPage()">
		<div class="cluster-map-shards">
			<span id="{{shard.id}}" ng-switch on="shard.primary" ng-click="displayInfo('shard info',shard.info)" ng-repeat="shard in index.shards[node.id]">
				<span ng-switch-when="true" class="shard shard-primary" ng-class="{STARTED:'shard-started', INITIALIZING:'shard-initializing', 'RELOCATED':'shard-relocated', 	'RECOVERING':'shard-recovering','CLOSED':'shard-closed'}[shard.state]">{{shard.shard}}</span>
				<span ng-switch-default class="shard" ng-class="{STARTED:'shard-started', INITIALIZING:'shard-initializing', 'RELOCATED':'shard-relocated', 	'RECOVERING':'shard-recovering','CLOSED':'shard-closed'}[shard.state]">{{shard.shard}}</span>
			</span>
		</div>
	</td>
</tr>
<!-- Unassigned shards -->
<tr>
	<td class="node-cell">
		<div class="row">
			<div class="col-lg-1">
				<div class="row">
					<div class="col-lg-12">
						<i class="icon-exclamation-sign"></i>
					</div>
				</div>
			</div>
			<div class="col-lg-10">
				<div class="row">
					<div class="col-lg-12">
						<div class="cluster-map-node-name">unassigned shards</div>
					</div>
				</div>
			</div>
		</div>
	</td>
	<td ng-repeat="index in getPage()" class="shards">
		<div class="cluster-map-shards">
			<span ng-repeat="shard in index.unassigned" >
				<span class="shard shard-unallocated">{{shard.shard}}</span>
			</span>
		</div>
	</td>
</tr>
