<tr>
	<!-- cluster actions -->
	<th class="cluster-map-header-cluster-actions" rowspan="2">
		<div class="row">
			<div class="col-lg-4">
				<a data-toggle="modal" href="#create_index" class="cluster-map-header-cluster-action" data-backdrop="static" data-keyboard="false">
					<i class="icon-file-alt" ng-click='openModal()'></i>
				</a>
			</div>
			<div class="col-lg-4">
				<a ng-switch on="cluster.disableAllocation" class="cluster-map-header-cluster-action">
					<i class="icon-lock" ng-switch-when="true" ng-click="flipDisableAllocation(true)"></i>
					<i class="icon-unlock-alt" ng-switch-when="false" ng-click="flipDisableAllocation(false)"></i>
				</a>
			</div>
			<div class="col-lg-4">
				<a data-toggle="modal" href="#cluster_settings" class="cluster-map-header-cluster-action" data-backdrop="static" data-keyboard="false">
					<i class="icon-cogs header-action" ng-click='openModal()'></i>
				</a>
			</div>
			<div ng-include src="'./modals/create_index.html'"></div>
			<div ng-include src="'./modals/cluster_settings.html'"></div>
		</div>
	</th>
	<!-- indices -->
	<th class="cluster-map-header-index-cell" ng-repeat="index in pagination.getPage()">
		<!-- index name -->
		<div class="row">
			<div class="col-lg-12">
				<div class="cluster-map-header-index-name normal-action" ng-click="displayInfo(index.name,index.metadata)">{{index.name}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="cluster-map-header-index-alias">
					shards: {{index.num_of_shards}} + {{index.num_of_replicas.toInt() + 1}} | docs: {{index.num_docs}} | size: {{readablizeBytes(index.size)}}
				</div>
			</div>	
		</div>
		<!-- index info -->
		<div class="row" ng-repeat="alias in index.aliases">
			<div class="col-lg-12">
				<div class="cluster-map-header-index-alias">
					<i class="icon-tag"></i> {{alias}}
				</div>
			</div>
		</div>
	</th>
</tr>
<tr>
	<td ng-repeat="index in pagination.getPage()" class="cluster-map-header-index-actions-cell">
		<!-- index actions -->
		<div class="row">
			<div class="cluster-map-header-index-actions">
				<div class="col-lg-2">
					<a data-toggle="modal" href="#confirm_state_change_{{index.name}}" class="cluster-map-header-index-action" data-backdrop="static" data-keyboard="false">
						<i ng-click='openModal()' class="icon-folder-{{index.state}}"></i>
					</a>
					<div ng-include src="'./modals/confirm_state_change.html'"></div>
				</div>
				<div class="col-lg-2">
					<a data-toggle="modal" href="#confirm_optimize_{{index.name}}" class="cluster-map-header-index-action" title="Optimize index" data-backdrop="static" data-keyboard="false">
						<i ng-click='openModal()' class="icon-wrench"></i>
					</a>
					<div ng-include src="'./modals/confirm_optimize.html'"></div>
				</div>
				<div class="col-lg-2">
					<a data-toggle="modal" href="#confirm_refresh_{{index.name}}" class="cluster-map-header-index-action" title="Refresh index" data-backdrop="static" data-keyboard="false">
						<i class="icon-refresh" ng-click='openModal()'></i>
					</a>
					<div ng-include src="'./modals/confirm_refresh.html'"></div>
				</div>
				<div class="col-lg-2">
					<a data-toggle="modal" href="#confirm_clear_cache_{{index.name}}" class="cluster-map-header-index-action" title="Clear index cache" data-backdrop="static" data-keyboard="false">
						<i class="icon-circle-blank" ng-click='openModal()'></i>
					</a>
					<div ng-include src="'./modals/confirm_clear_cache.html'"></div>
				</div>
				<div class="col-lg-2">
					<a data-toggle="modal" ng-click='openModal()' href="#index_settings_{{index.name}}" class="cluster-map-header-index-action" title="Edit index settings" data-backdrop="static" data-keyboard="false">
						<i class="icon-cogs"></i>
					</a>
					<div ng-include src="'./modals/index_settings.html'"></div>
				</div>		
				<div class="col-lg-2">
					<a data-toggle="modal" href="#confirm_delete_{{index.name}}" class="cluster-map-header-index-action" title="Delete index" data-backdrop="static" data-keyboard="false">
						<i class="icon-trash" ng-click='openModal()'></i>
					</a>
					<div ng-include src="'./modals/confirm_delete.html'"></div>
				</div>	
			</div>
		</div>
	</td>
</tr>