<!DOCTYPE html>
<html lang="en" ng-app ng-controller="GlobalController">
	<head>
		<meta charset="utf-8">

		<meta name="description" content="">
		<meta name="author" content="">
		<title>kopf</title>
		<link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="./font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="./bootstrap/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href="./css/kopf.css" rel="stylesheet">
		<script src="./js/jquery-1.10.2.min.js"></script>
		<script src="./bootstrap/js/bootstrap.min.js"></script>
		<script src="./js/angular.min.js"></script>
		<script src="./js/controllers.js"></script>
		<script src="./js/elastic_client.js"></script>
  	</head>
	<body>
		<div ng-include src="'partials/modal_info.html'"></div>
		<div id="page-wrap">
			<div ng-include src="'partials/nav_bar.html'"></div>
			<div class="container app-container">
				<div ng-include src="'partials/main_alerts.html'"></div>
				<div class="tab-content custom-tab-content">
					<div class="tab-pane fade  active in" id="cluster" ng-controller="ClusterOverviewCtrl">
						<div ng-include src="'cluster_stats.html'"></div>
						<form>
							<fieldset>
								<div class="form-group">
									<input type="text" ng-model="pagination.query" class="form-control" placeholder="search by index name">
								</div>
								<div class="form-group">
									<div class="checkbox-inline">
								      <label>
								        <input type="checkbox" ng-model="pagination.data"><i class="icon-hdd"></i> data nodes
								      </label>
								    </div>
									<div class="checkbox-inline">
								      <label>
								        <input type="checkbox" ng-model="pagination.master"><i class="icon-star-empty"></i> master nodes
								      </label>
								    </div>
									<div class="checkbox-inline">
								      <label>
								        <input type="checkbox" ng-model="pagination.client"><i class="icon-search"></i> client nodes
								      </label>
								    </div>
								</div>
							</fieldset>
						</form>
						<div style="text-align: right;">
	<span ng-switch on="pagination.hasPreviousPage()">
		<i class="icon-double-angle-left" ng-click="pagination.previousPage()" ng-switch-when="true"></i>
		<i class="icon-double-angle-left inactive-action" ng-switch-when="false"></i>
	</span>
	{{pagination.firstResult()}}-{{pagination.lastResult()}} of {{pagination.total()}}
	<span ng-switch on="pagination.hasNextPage()">
		<i class="icon-double-angle-right" ng-click="pagination.nextPage()" ng-switch-when="true"></i>
		<i class="icon-double-angle-right inactive-action" ng-switch-when="false"></i>
	</span>
</div>
						<table class="table table-bordered table-condensed table-nonfluid table-rounded">
							<thead ng-include src="'shard_map_header.html'"></thead>
							<tbody ng-include src="'shard_map_body.html'"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div id="app-footer">
			<div class="container">
				<p class="app-credits">developed by <a href="http://github.com/lmenezes">lmenezes</a></p>
			</div>
		</div>
	</body>
</html>