<div class="row">
	<div class="col-lg-12">
		<form>
			<fieldset>
				<div class="form-group">
					<label for="exampleInputEmail">Displaying {{visibleIndices().length}} out of {{cluster.indices.length}}</label>
					<input type="text" ng-model="indices_query" class="form-control" id="exampleInputEmail" placeholder="Search for indices">
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="row">
  <div class="col-lg-3 node_stats" ng-repeat="index in cluster.indices | filter:{name:indices_query}">
	<div class="row">
		<div class="col-lg-12">
			<div class="thumbnail">
				<div class="row">
					<div class="col-lg-12">
						<div class="col-lg-10">
							<div><strong>{{index.name}}</strong></div>
							<div class="index_aliases">{{index.aliases[0]}}</div>
						</div>
						<div class="col-lg-2">
							<div ng-switch on="index.state">
								<div ng-switch-when="close">
									<div><span class="glyphicon glyphicon-folder-close"></span></div>
								</div>
							    <div ng-switch-default>
									<div><span class="glyphicon glyphicon-folder-open"></span></div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="row node_stats">
					<div class="col-lg-12">
							<div class="col-lg-4 node_stat_box">
									<div class="node_stat_number">{{index.num_of_shards}}</div>
									<div class="node_stat_subtitle">shards</div>
							</div>
							<div class="col-lg-4 node_stat_box">
									<div class="node_stat_number">{{index.num_of_replicas}}</div>
									<div class="node_stat_subtitle">replicas</div>
							</div>
							<div class="col-lg-4 node_stat_box">
									<div class="node_stat_number">{{readablizeBytes(index.size)}}</div>
									<div class="node_stat_subtitle">size</div>
							</div>
					</div>
				</div>
				<div class="row node_stats">
					<div class="col-lg-12">
							<div class="col-lg-4 node_stat_box">
									<div class="node_stat_number">{{index.num_docs}}</div>
									<div class="node_stat_subtitle">documents</div>
							</div>
							<div class="col-lg-4 node_stat_box">
									<div class="node_stat_number">{{index.max_doc}}</div>
									<div class="node_stat_subtitle">max. doc</div>
							</div>
							<div class="col-lg-4 node_stat_box">
									<div class="node_stat_number">{{index.deleted_docs}}</div>
									<div class="node_stat_subtitle">deleted docs</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>