.aliases-index-alias {
	border: 1px solid;
	border-radius: 2px 2px 2px 2px;
	margin-left: 5px;
	padding-left: 3px;
	padding-right: 2px;
	line-height: 14px;
	margin-bottom: 2px;
	height: 16px;
}

.aliases-alias-cell {
	width: 250px;
	max-width: 250px;
	min-width: 250px;
}
.aliases-new-alias-input {
	overflow: hidden;
}
.aliases-new-alias-input > a {
	text-decoration: none;
	color: inherit;
}

.aliases-save-changes {
	text-align: right;
}

.aliases-remove-new-alias-action {
	float: right;
	padding-top: 8px;
	padding-left: 5px;
}
.alias-remove-index {
	float: right;
}