.analysis-section {
	padding-top: 10px;
}
.analysis-origin-cell {
	width: 250px;
	max-width: 250px;
	min-width: 250px;
	font-size: 12px;
	font-variant: small-caps;
	font-weight: 300;
	color: #666;
}

.analysis-tokens {

}
.analysis-token {
	background: #FFF;
	border: 1px solid #333;
	border-radius: 1px 1px 1px 1px;
	margin-right: 10px;
	padding-left: 2px;
	padding-right: 2px;
	margin-top: 5px;
	float: left;
}
.analysis-token-token {
	font-size:11px;
	text-align: center;
	font-weight: 500;
}
.analysis-token-info {
	font-size:9px;
	display: inline;
	color: #555;
}
.analysis-text-input {
	overflow: hidden;
	display: block;
}