.cluster-health-top-actions {
	text-align: right;
}
.cluster-health-state {
	font-size: 12px;
	font-weight: 300;
	color: #666;
}
.cluster-health-content {
	font-size: 10px;
	color: #666;
	font-family: "Lucida Console", Monaco, monospace;
}

.cluster-health-form-group {
	padding-left: 5px;
	float: right;
}
.gist-timestamp-col {
	width: 70px;
}
.gist-link-col {
	width: 240px;
}
.gist-title-col {
	width: auto;
}
.cluster-health-filters {
	padding-top: 6px;
}