/** GENERIC CONTAIENR FOR MAIN AGE */
.content-panel {
	padding-top: 10px;
}

.table-panel {

}

.form-label {
	font-size: 13px;
	color: #666;
}

.header-row {
	font-size: 12px;
	font-weight: 700;
}

.validation-error {
	color: #b94a48;
	padding-top: 5px;
	font-size: 13px;
	font-weight: 300;
}

.editor-format-block {
	padding-top: 5px;
}

/* BOOTSTRAP CUSTOMIZATION */
.btn {
	font-size: 13px;
}

/* PAGINATION BLOCK */
.pagination-block  {
	padding-top: 10px;
	float: right;
	color: #666;
	font-size: 13px;
}


.kopf-table-header {
	font-weight: 500; 
	font-color: #c0c0c0;
}

/* selected pill color to grey */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #eeeeee;
	color: #333;
}

/* smaller padding for stacked pills */
.nav-stacked > li > a {
	padding: 6px 15px;
}

/** ############### START - modals - START ############### **/
.modal-close-icon {
	float: right;
	font-size: 20px;
	color: #b94a48;
	padding-top: 2px;
	cursor: pointer;
}
.confirm-dialog-body {
	background: #fff;
	color: #666;
	font-size: 13px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	border: 0px;
	line-height: 18px;
	margin: 0px;
	word-break: normal;
	padding: 0px;
}

.modal-title {
	padding: 0px;
}
.modal-body {
	font-size: 12px;
	font-weight: 400;
	padding: 12px;
	color: #666;
	
}
.modal-footer {
	padding: 0px 10px 10px;
	margin-top: 0px;
	border: 0px;
}
.modal-header {
	padding: 5px 10px 5px 10px;
}

.custom-modal {
	padding-top: 5px;
	text-align: left;
	word-break: break-word;
}
/** ############### END - modals - END ############### **/


/**###################### HEADERS /**######################**/
h1 { color: #555; font-variant:small-caps; font-weight: 400; }
h2 { color: #555; font-variant:small-caps; font-weight: 400; }
h3 { color: #555; font-variant:small-caps; font-weight: 500; }
h4 { color: #666; font-variant:small-caps; font-weight: 500; }
h5 { color: #777; font-variant:small-caps; font-weight: 500; }
h6 { color: #999; font-variant:small-caps; font-weight: 500; }

#page-wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -60px; padding: 0px 25px 60px; }

.settings-section-header {
	top: 15px;
	left: 15px;
	font-size: 11px;
	font-weight: 500;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 15px;
}
.settings-section {
	border-bottom: 1px solid #c0c0c0;
}
.popover {
	z-index: 1050;
}
.setting-info {
	padding-left: 1px;
	font-size: 12px;
}

a.setting-info:hover {
	text-decoration: none;
}

html,body {
  height: 100%;
  color: #555555;
}

.response-pre {
	font-size: 9px;
	border: 0px;
}

.modal-json {
	font-size: 9px;
	background: #ffffff;
}
.kopf-ace-editor { 
	width: auto;
	border: 1px solid #ccc;
	border-radius: 3px 3px 3px 3px;
	text-align: left;
	margin-top: 10px;
}
.connection-status-console {
	float:right;
	text-align: right;
	font-size: 10px;
	color: #CCC;
	font-variant:small-caps;
	font-weight: 200;
}
.inactive-action {
	color: #f0f0f0;	
}
.normal-action {
	cursor: pointer;
}

.modal-open {
	margin-right: 0px !important;
}

.create-index-editor {
	height: 424px;
}
.alert-block {
	font-size: 12px;
	font-weight: 300;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
}
.alert-server-response {
	padding-top: 25px;
}
.settings-area {
	font-size: 9px;
}

.node_stats {
	padding-top: 15px;
}

.node_detail {
	color: #808080;
	font-size: 10px;
}

.table-nonfluid {
   width: auto;
}

body {
	padding-top: 38px;
}

.entity_settings {
	font-size: 18px;
}

.node-info {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}
/* TOOLTIP STYLE */
.tooltip {
  font-size: 13px;
  opacity: 1.0 !important;
} 
.tooltip-inner {
    background: #c0c0c0;
    color: white;
}

.table-actions > a:hover {
	text-decoration: none;	
}

.remove-icon {
	color: #b94a48;
	float: right;
	line-height: 18px;
	padding-left: 5px;
}
.details-icon {
	color: #555;
	float: right;
	line-height: 18px;
	padding-left: 5px;
}
.content-row {
	font-size: 13px;
	color: #555555;
}