.kopf-table-header {
	font-weight: 500; 
	font-color: #c0c0c0;
}

/* selected pill color */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #eeeeee;
	color: #333;
}
.nav > li > a {
	padding: 6px 15px;
}