/* json string right " */
.json-object-expand:after {
	content: '+';
}
.json-object-collapse:after {
	content: '-';
}

/* properties for expand icon */
.json-object-expand {
	display: inline-block;
	font-weight: 500;
	color: #999;
	margin-left: 1px;
	margin-right: 1px;
	cursor: pointer;
}
/* properties for collapse icon */
.json-object-collapse {
	display: inline-block;
	font-weight: 500;
	color: #999;
	margin-left: 1px;
	margin-right: 1px;
	cursor: pointer;
}
/* global properties for json object */
.json-content {
	font-size: 10px;
	font-weight: 400;
	color: #666;
	font-family: "Lucida Console", Monaco, monospace;
}
/* json property name style */
.json-property {
	font-weight: 500;
}
/* json number style */
.json-number {
	color: #B627B6;
}
/* json string style */
.json-string {
	color: #2DB669;
}
/* json boolean style */
.json-boolean {
	color: #2525CC;
}
/* json null style */
.json-null {
	color: gray;
}
/* json object */
.json-object {
	padding-left: 2em;
}
/* visible object */
.json-visible {
	height: auto;
}
/* collapsed object */
.json-collapsed {
	display: none;
}