<div class="modal fade custom-modal" id="cluster_health" ng-controller="ClusterHealthCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="icon-remove-circle modal-close-icon" data-dismiss="modal" ng-click='closeModal()'></i>
				<h4 class="modal-title">cluster health information</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'partials/modal_alerts.html'"></div>
				<div class="row">
					<div class="col-lg-12">
						<div class="cluster-health-top-actions">
						<button type="button" class="btn btn-primary float-right" title="load cluster information" ng-click='loadClusterHealth()'><i class="icon-stethoscope"></i> Load</button>
						<button ng-show="cluster_health != null" type="button" title="easily share cluster information with others" class="btn btn-primary float-right" ng-click='publishClusterHealth()'><i class="icon-github"></i> Gist it!</button>
					</div>
					</div>
				</div>
				<div ng-show="cluster_health != null">
					<h4>cluster state</h4>
					<div><pre class="cluster-health-content">{{cluster_health.state}}</pre></div>
					<h4>nodes stats</h4>
					<div><pre class="cluster-health-content">{{cluster_health.stats}}</pre></div>
					<h4>hot threads</h4>
					<div><pre class="cluster-health-content">{{cluster_health.hot_threads}}</pre></div>
				</div>
				<div class="cluster-health-state">{{state}}</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click='closeModal()'>Close</button>
				<button ng-show="cluster_health != null" type="button" title="easily share cluster information with others" class="btn btn-primary" ng-click='publishClusterHealth()'><i class="icon-github"></i> Gist it!</button>
			</div>
		</div>
	</div>
</div>