<div class="modal fade custom-modal" id="confirm_clear_cache_{{index.name}}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="icon-remove-circle modal-close-icon" data-dismiss="modal" ng-click='closeModal()' style="float: right;"></i>
				<h4 class="modal-title">are you sure you want to clear the cache for index {{index.name}}?</h4>
      		</div>
      		<div class="modal-body">
				<p>This will clear all caches for this index.</p>
      		</div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='closeModal()' >Back</button>
	          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='clearCache(index.name)'><i class="icon-circle-blank"></i> Clear</button>
	        </div>
    	</div>
  	</div>
</div>