<div class="modal fade custom-modal" id="confirm_state_change_{{index.name}}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
				<h4 class="modal-title" ng-switch on="index.state">
					<div ng-switch-when="open">Are you sure you want to close index <b>{{index.name}}</b>?</div>
					<div ng-switch-when="close">Are you sure you want to open index <b>{{index.name}}</b>?</div>
				</h4>
      		</div>
      		<div class="modal-body" ng-switch on="index.state">
				<span ng-switch-when="open">
					<p>Closing an index will remove all it's allocated shards from the cluster</p>
					<p>Both searches and updates will no longer be accepted for the index</p>
					<p>A closed index can be reopened at any time</p>
				</span>
				<span ng-switch-when="close">
					<p>Opening an index will trigger the recovery process for the index</p>
					<p>This process could take sometime depending on the index size</p>
				</span>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default btn-small" data-dismiss="modal" ng-click='closeModal()' >Close</button>
				<span ng-switch on="index.state">
        			<button type="button" ng-switch-when="open" class="btn btn-primary" data-dismiss="modal" ng-click='closeIndex(index.name)'>
						<i class="icon-folder-close"></i> Close
					</button>
        			<button type="button" ng-switch-when="close" class="btn btn-primary" data-dismiss="modal" ng-click='openIndex(index.name)'>
						<i class="icon-folder-open"></i> Open
					</button>
				</span>
				</h4>
      		</div>
    	</div>
  	</div>
</div>