<div class="modal fade custom-modal" id="confirm_refresh_{{index.name}}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Are you sure you want to refresh index <b>{{index.name}}</b>?</h4>
      		</div>
      		<div class="modal-body">
				<p>Refreshing an index makes all operations performed since the last refresh available for search</p>
      		</div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='closeModal()' >Back</button>
	          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='refreshIndex(index.name)'><i class="icon-refresh"></i>  Refresh</button>
	        </div>
    	</div>
  	</div>
</div>