<div class="modal fade custom-modal" id="confirm_clear_cache_{{index.name}}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Are you sure you want to clear the cache for index [{{index.name}}]?</h4>
      		</div>
      		<div class="modal-body">
				<p>This will clear all caches for this index.</p>
      		</div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='closeModal()' >Close</button>
	          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='clearCache(index.name)'>Clear</button>
	        </div>
    	</div>
  	</div>
</div>