<div class="modal fade custom-modal" id="confirm_shutdown_{{node.id}}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Are you sure you want to shutdown node <b>{{node.name}}</b>?</h4>
      		</div>
      		<div class="modal-body">
				<p>Shutting down a node will make all data stored in this node inaccessible, unless this data is replicated across other nodes.</p>
				<p>Replicated shards will be promoted to primary if the primary shard is no longer reachable</p>
      		</div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='closeModal()' >Back</button>
	          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click='shutdownNode(node.id)'><i class="icon-power-off"></i>  Shutdown</button>
	        </div>
    	</div>
  	</div>
</div>