<div class="modal fade custom-modal" id="confirm_optimize_{{index.name}}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="icon-remove-circle modal-close-icon" data-dismiss="modal" ng-click='closeModal()' style="float: right;"></i>
				<h4 class="modal-title">are you sure you want to optimize index {{index.name}}?</h4>
      		</div>
      		<div class="modal-body">
				<p>Optimizing an index is a resource intensive operation and should be done with caution</p>
				<p>Usually, you will only want to optimize an index when it will no longer receive updates</p>
      		</div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='closeModal()' >Back</button>
	          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='optimizeIndex(index.name)'><i class="icon-wrench"></i> Optimize</button>
	        </div>
    	</div>
  	</div>
</div>