<div class="modal custom-modal" id="create_index" ng-controller="CreateIndexController">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="icon-remove-circle modal-close-icon" data-dismiss="modal" ng-click='closeModal()' style="float: right;"></i>
				<h4 class="modal-title">create new index</h4>
			</div>
			<div class="modal-body">
				<div ng-include src="'partials/modal_alerts.html'"></div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<input type="text" ng-model="name" class="form-control input-sm" placeholder="New index name">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="form-group">
							<input type="text" ng-model="shards" class="form-control input-sm" placeholder="# of shards" type="number">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="form-group">
							<input type="text" ng-model="replicas" class="form-control input-sm" placeholder="# of replicas" type="number">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<h4>Index settings</h4>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<select ng-model="settings" ng-options="i.settingsAsString() as i.name for i in pagination.results" class="form-control input-sm" ng-change="updateEditor()">
								<option value="">load settings from an existing index</option>
							</select>
						</div>
					</div>
				</div>
				<div id="index-settings-editor" class="kopf-ace-editor create-index-editor"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click='closeModal()'>Back</button>
				<button type="button" class="btn btn-primary" ng-click='createIndex()'><i class="icon-ok"></i> Create</button>
			</div>
		</div>
	</div>
</div>