<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="form-group">
			<label class="form-label">node_initial_primaries_recoveries</label>
			<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="node_initial_primaries_recoveries" title="">
				<i class="icon-info-sign"></i>
			</a>
			<input type="text" class="form-control input-sm" ng-model="settings[active_settings]['cluster.routing.allocation.node_initial_primaries_recoveries']" placeholder="">
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="form-group">
			<label class="form-label">cluster_concurrent_rebalance</label>
			<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="cluster_concurrent_rebalance" title="">
				<i class="icon-info-sign"></i>
			</a>
			<input type="text" class="form-control input-sm" ng-model="settings[active_settings]['cluster.routing.allocation.cluster_concurrent_rebalance']" placeholder="">
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="form-group">
			<label class="form-label">awareness.attributes</label>
			<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="awareness.attributes" title="">
				<i class="icon-info-sign"></i>
			</a>
			<input type="text" class="form-control input-sm" ng-model="settings[active_settings]['cluster.routing.allocation.awareness.attributes']" placeholder="">
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="form-group">
			<label class="form-label">node_concurrent_recoveries</label>
			<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="node_concurrent_recoveries" title="">
				<i class="icon-info-sign"></i>
			</a>
			<input type="text" class="form-control input-sm" ng-model="settings[active_settings]['cluster.routing.allocation.node_concurrent_recoveries']" placeholder="">
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="form-group">
			<label class="form-label">disable_allocation</label>
			<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="disable_allocation" title="">
				<i class="icon-info-sign"></i>
			</a>
			<select ng-model="settings[active_settings]['cluster.routing.allocation.disable_allocation']" class="form-control input-sm">
				<option value="true">true</option>
				<option value="false">false</option>
			</select>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="form-group">
			<label class="form-label">disable_replica_allocation</label>
			<a href="#" class="setting-info" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="disable_replica_allocation" title="">
				<i class="icon-info-sign"></i>
			</a>
			<select ng-model="settings[active_settings]['cluster.routing.allocation.disable_replica_allocation']" class="form-control input-sm">
				<option value="true">true</option>
				<option value="false">false</option>
			</select>
		</div>
	</div>
</div>